:root {
  --light-gray: lightgray;
}

* {
  box-sizing: border-box;
}

html{
  font-size: 100%;
}

body{
  margin: 0;
}

header {

}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 20px;
  max-height: 40px;
  padding: 30px;
  background-color: var(--light-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar > ul{
  width: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
  padding: 10px;
  font-family: 'Motiva Sans', sans-serif;
}

#welcome-section {
  height: 100vh;
  margin-top: 10%;
}

@media (max-width: 550px) {
}
